Options +Indexes

RewriteCond %{REQUEST_URI} ^/center\/.*$
RewriteRule  ^.*$ frontend/web/images/center/$1 [L]

# Если это папка или файл, открываем его
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# В противном случае перенаправляем на index.php
RewriteRule . index.php